# Puerto del servidor
PORT=3000

# Configuración del tipo de repositorio a usar
# Opciones: 'postgres' (SQL directo) | 'prisma' (ORM)
DB_TYPE=postgres

# Configuración de la base de datos PostgreSQL
# Ambos repositorios usan la misma base de datos
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fracttal_db

# Configuración de seguridad (para implementación futura de JWT)
# JWT_SECRET=your_jwt_secret_key
# JWT_EXPIRES_IN=1d
